.t-center{
    text-align: center;
}
.mx-auto{
    margin: auto;
}
.m-w-30{
    max-width: 30vw;
}

.flex{
    display: flex;
}

.flex-col{
     flex-direction: column ;
}

.ali-ce{
    justify-content: center;
    align-items: center;
}
