@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700;800&family=Tektur:wght@700;900&display=swap');

.container{
    position: absolute;
    left:520px;
    background-color:azure;
}

.button{
    padding:20px;
    margin:0px 1px;
    background-color: aquamarine;
    border:2px solid;
    border-radius: 100%;
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
    font-family: 'Tektur', cursive;
}
.button:hover{
    background-color: rgb(44, 238, 173);
}

.row{
    margin: 3px; 
}

.row input{
     margin:0 0 3px 0;
     padding:5px 35px;
     border: 2px solid;
     border-radius: 15px;
     font-size: 15px;
}
